*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/*global css for title*/

.title{
	width: 100%;
	padding: 20px 0px;
}

.title h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #008ed6;
}

.title h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    color: #1a1a1a;
    padding: 0px 0px 5px;
}

/*header css start*/
/* .header .navbar-wrapper{
    width: 100%;
    margin-top:0px;
    position: relative;
    z-index: 15;  
}

.header .isStuck{
    left:0px;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
} */

.header .fixed-top {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header{
	width: 100%;
	padding: 20px 0px;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;	
}

.header .navbar-expand-lg .navbar-nav .nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0px 10px 0px 0px;
    color: #fff;
}

.header .navbar-expand-lg .navbar-nav .nav-link:hover{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
}

.header .navbar-expand-lg .navbar-nav .nav-link:focus{
	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
}

.header .navbar-expand-lg .navbar-nav .nav-item .active{
    background: url("../images/line.png") center bottom no-repeat;
    background-size: auto;
}

.header .navbar-toggler{
    background-color: #008ed6 !important;
}

.header .navbar-toggler .fa{
    color: #fff;
}

.header .banner{
	width: 100%;
	padding: 120px 0px;
}

.header .banner .inner-banner{
	width: 100%;
	padding: 20px 0px 0px;
}

.header .banner .inner-banner h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #008ed6;
}

.header .banner .inner-banner h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 15px 0px 0px;
    color: #fff;
}

.header .banner .inner-banner p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    margin: 10px 0px 15px;
    color: #999999;
}

.header .banner .double-button .btn-primary{
    padding: 20px 30px;
    margin: 20px 20px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s;
}

.header .banner .double-button .btn-primary:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #008ed6;
}

.header .banner .double-button .btn-primary:focus{
    color: #fff;
    background: transparent;
    border: 1px solid #008ed6;
}

.header .banner .double-button .btn-info{
    padding: 20px 30px;
    margin: 20px 20px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border: 1px solid #999;
    transition: 1s;
}

.header .banner .double-button .btn-info:hover{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

.header .banner .double-button .btn-info:focus{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

/* header css end */

/*feature css start*/
.feature{
	width: 100%;
	padding: 40px 0px;
}

.feature .title{
	text-align: center;
}

.feature .inner-feature{
	width: 100%;
	padding: 60px 0px;
	text-align: center;
}
.feature .inner-feature .icon{
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	margin: 0px auto;
	border: 1px solid #cbced0;
	border-radius: 100%;
}

.feature .inner-feature h4{
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #1a1a1a;
    margin: 30px 0px 10px;
}

.feature .inner-feature p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: #999999;
    margin: 0px 0px 15px;
}


/*feature css end*/

/*about-long css start*/

.about-long{
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
}

.about-long .title{
    padding: 42px 0px 10px;
}

.about-long p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: #999999;
    margin: 0px 0px 15px;
}

.about-long ul{
    padding: 20px 0px 0px;
    margin: 0px;
}

.about-long ul li{
    list-style: none;
    margin: 0px 0px 12px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}

.about-long ul li img{
    width: 13px;
    height: 15px;
    margin: 0px 10px 0px 0px;
}

/*about long end*/

/*about sort css start*/

.about-sort{
    width: 100%;
    padding: 60px 0px;
    background: #f2f2f2;
}

.about-sort .title{
    margin: 40px 0px 0px;
}

.about-sort .title p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    color: #999999; 
    margin: 20px 0px 0px;
}

p{
    color: #999999;
}
/* short css end */

/* testimonial css start */

.testimonial{
    width: 100%;
    padding: 60px 0px;
    background: url("../images/testimonial.png") center top no-repeat;
    background-size: cover;
}

.testimonial .title{
    text-align: center;
    padding: 0px 0px 40px;
}

.testimonial .title h1{
    color: #fff;
}

.testimonial .owl-carousel .item h4{
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.4em;
    color: #fff;
    margin: 0px 0px 20px;
}

.testimonial .owl-carousel .item .client-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.testimonial .owl-carousel .item .clients-info{
    width: 100%;
    padding: 0px 0px 20px;
}

.testimonial .owl-carousel .item .clients-info h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
    margin: 15px 0px 0px;
}

.testimonial .owl-carousel .item .clients-info p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.4em;
    color: #fff;
    margin: 0px 0px 20px;
}

.testimonial .owl-theme .owl-dots .owl-dot.active span{
    background: #fff;
    zoom: 1;
    width: 12px;
    height: 12px;
    margin: 6px 7px 3px;
}
/* testimonial css end */

/* eye-catcher css start */
.eye-catcher{
    width: 100%;
    padding: 40px 0px;
    background: #191919;
}

.eye-catcher h1{
    font-size: 36px;
    font-weight: 300;
    line-height: 1.4em;
    color: #fff;
    margin: 0px 0px 0px;
}

.eye-catcher .double-button{
    width: 100%;
    padding: 0px;
}

.eye-catcher .double-button .btn-info{
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border: 1px solid #999;
    transition: 1s;
}

.eye-catcher .double-button .btn-info:hover{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

.eye-catcher .double-button .btn-info:focus{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

.eye-catcher .double-button .btn-primary{
    padding: 20px 30px;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s;
}

.eye-catcher .double-button .btn-primary:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #008ed6;
}

.eye-catcher .double-button .btn-primary:focus{
    color: #fff;
    background: transparent;
    border: 1px solid #008ed6;
}
/* eye-catcher css end */

/* price css start */

.price{
    width: 100%;
    padding: 80px 0px;
}

.price .title{
    padding: 0px 0px 80px;
    text-align: center;
}

.price .price-box{
    width: 100%;
    text-align: center;
    border: 1px solid #eee;
}

.price .price-box .price-header{
    width: 100%;
    padding: 40px 0px;
    border-bottom: 1px solid #eee;
}

.price .price-box .price-header h4{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}

.price .price-box .main-price{
    width: 100%;
    padding: 25px 0px;
    border-bottom: 1px solid #eee;
}

.price .price-box .main-price h1{
    font-size: 90px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
}

.price .price-box .main-price h1 sup{
    font-size: 48px;
    top: -0.5em;
}

.price .price-box .main-price p{
    font-size: 16px;
    font-weight: 400;
    color: #111;
    margin: -20px 0px 15px;
}

.price .price-box .price-content{
    width: 100%;
    padding: 40px 55px 30px;
}

.price .price-box .price-content p{
    font-size: 16px;
    font-weight: 400;
    color: #111;
    margin: 0px -23px 16px;;
}

.price .price-box .price-content p a{
    text-decoration: none;
    font-weight: 600;
    color: #08c;
}

.price .price-box .price-content .btn-primary{
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #008ed6;
    background: transparent;
    border: 1px solid #008ed6;
    transition: 1s;
}

.price .price-box .price-content .btn-primary:hover{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

.price .price-box .price-content .btn-primary:focus{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}

.price .price-box:hover .price-header h4{
    color: #008ed6;
    transition: 1s;
}

.price .price-box:hover .main-price{
    background: #008ed6;
    transition: 1s;
}

.price .price-box:hover .main-price h1{
    color: #fff;
    transition: 1s;
} 

.price .price-box:hover .main-price p{
    color: #fff;
    transition: 1s;
} 

.price .price-box:hover .price-content .btn-primary{
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s;
}

/* price css end */

/* conyacy css start */

.contact{
    width: 100%;
    padding: 80px 0px 0px;
    background: #ededed;
}

.contact .title{
    width: 100%;
    text-align: center;
    padding: 0px 0px 80px;
}

.contact .info{
    width: 100%;
    text-align: center;
}

.contact .info .fa{
    font-size: 30px;
    color: #008ed6;
    margin: 0px 0px 20px;
}

.contact .info p{
    font-size: 16px;
    line-height: 1.7em;
    color: #777;
}

.contact .main-form{
    width: 100%;
    padding: 70px 80px;
    margin: 60px 0px -70px;
    background: #191919;
    position: relative;
    z-index: 1;
}

.contact .main-form .form-control{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #444348;
}

.contact .main-form .form-control:focus{
    border: 1px solid #444348;
	background: transparent;
	box-shadow: 0 0 0 .0rem rgba(13,110,253,.25);
}

.contact .main-form .btn-primary{
	padding: 12px 25px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s;
}

.contact .main-form .btn-primary:hover{
    color: #008ed6;
    background: transparent;
    border: 1px solid #008ed6;
}

/* contact css end */

/*footer css start*/

.footer{
	width: 100%;
	padding: 20px 0px;
    margin: -10px 0px 0px;
	background: #15141a;
	position: relative;
	z-index: 1;
}

.footer ul{
	list-style: none;
	text-align: center;
	padding: 60px 0px 0px;
}

.footer ul li{
	display: inline-block;
	margin: 15px;
}

.footer .fa{
	font-size: 25px;
	color: #444348;
	transition: 1s;
}

.footer .fa:hover{
	color: #008ed6;
}

.footer p{
    padding: 0px 0px 60px;
	margin: 0px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #444348;
	text-align: center;
}

.footer {
	font-weight: 600;
	color: #777;
	text-transform: uppercase;	
}